<mat-toolbar color="primary" *ngIf="openRoute()!='/login'">
 
  <span>Суточная отчетность</span>
  <span class="example-spacer"></span>   
  <button mat-button [matMenuTriggerFor]="aboveMenu">Справочники</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item >ЭТРАН</button>
  <button mat-menu-item >Грузы</button>
  <button mat-menu-item >Типы грузов</button>
  <button mat-menu-item >Организации</button>  
</mat-menu>
<div>
<button  mat-button [matMenuTriggerFor]="belowMenu">ОМиОТО</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item routerLink="/dislokacia" >Дислокация</button>
  <button mat-menu-item routerLink="/deilyreportingplandetails">Суточная отчетность планирование</button>
</mat-menu>
</div>
<button mat-button  [matMenuTriggerFor]="afterMenu">Администрирование</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item routerLink="/users">Пользователи</button>
  <button mat-menu-item routerLink="/claim">Фильтры</button>
  <button mat-menu-item routerLink="/roles">Роли</button>  
</mat-menu>
  <button mat-raised-button (click)="signOut()" color="warn">
    Выход
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
<ng-confirm></ng-confirm> 
