<h2>Роли</h2>
<dx-data-grid
id="grid"
keyExpr="id"
#dataGridRef
[dataSource]="dataSource"
[repaintChangesOnly]="true"
[allowColumnReordering]="true"
[rowAlternationEnabled]="true"
[showBorders]="true"

>
<dxo-paging [pageSize]="10"></dxo-paging>
<dxo-pager
[visible]="true"
[showPageSizeSelector]="true"
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  ></dxo-pager>
  <dxo-search-panel
  [visible]="true"
  [highlightCaseSensitive]="true"
></dxo-search-panel>
<dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
 
  
  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
 
  <dxo-editing
  mode="cell" 
  [allowAdding]="true"
  [allowUpdating]="true"
  [allowDeleting]="true"
  >
  </dxo-editing>
  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
  
  <dxi-column dataField="id" caption="id">  
    
  </dxi-column>
  <dxi-column dataField="roleName" caption ="Роль">   
  </dxi-column>