<h2>Виды фильтров</h2>
<div id="data-grid-demo">
<dx-data-grid
id="gridContainer"
keyExpr="id"
[dataSource]="dataSource"
[(focusedRowKey)]="focusedRowKey"

[showBorders]="true"
(onEditorPreparing)="onEditorPreparing($event)">
<dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true">
</dxo-editing>

<dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-group-panel [visible]="true"></dxo-group-panel>  
  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-group-panel [visible]="true"></dxo-group-panel> 
  <dxo-editing  mode="row"   [allowAdding]="true"   [allowDeleting]="true"></dxo-editing> 
  
   
  <dxi-column dataField="claimUser" caption ="Пользователь" [width]="125">
  <dxo-lookup [dataSource]="lookupUserSource"  displayExpr="fio" valueExpr="id"></dxo-lookup>
</dxi-column>

<dxi-column
      dataField="claimName" caption="Роль" [setCellValue]="setClaimValue" >
      <dxo-lookup [dataSource]="lookupClaimType" valueExpr="id" displayExpr="name">
      </dxo-lookup>
    </dxi-column>
   
    <dxi-column dataField="claimValue" caption="Значение">
      <dxo-lookup
        [dataSource]="getFilteredSprSvod"
        valueExpr="id"
        displayExpr="name"
      >
      </dxo-lookup>
    </dxi-column>
</dx-data-grid>
</div>
    
  

  