<h2>Подходы вагонов по станциям</h2>
<dx-data-grid
id="gridContainer"

  [dataSource]="dataSource"
  [remoteOperations]="false" 
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  [showBorders]="true"
  
>
<dxo-paging [pageSize]="15"></dxo-paging>
<dxo-pager
[visible]="true"
[showPageSizeSelector]="true"
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [allowedPageSizes]="[15, 25, 50, 100]"
  ></dxo-pager>
  <dxo-search-panel
  [visible]="true"
  [highlightCaseSensitive]="true"
></dxo-search-panel>
<dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
 
  
  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
  <dxi-column dataField="id" [visible]="false"  caption="id">
  </dxi-column>
  <dxi-column dataField="noM_VAG" caption="Вагон" width="90">
  </dxi-column>  
  <dxi-column dataField="naiM_ROD_VAG" caption="Род вагона">   
  </dxi-column>
  <dxi-column dataField="naiM_STAN_NAZN" caption="Станция назаначения">   
  </dxi-column>
  <dxi-column dataField="gruzpoL_OKPO" caption="ОКПО"  width="100">   
  </dxi-column>
  <dxi-column dataField="naiM_GRUZPOL_OKPO" caption="Грузополучатель">   
  </dxi-column>
  <dxi-column dataField="naiM_GRUZOTPR_OKPO" caption="Грузоотправитель">   
  </dxi-column>
  <dxi-column dataField="naiM_KOD_GRZ" caption="Груз">   
  </dxi-column>
  <dxi-column dataField="veS_GRZ" caption="Вес" width="70">   
  </dxi-column>
  <dxi-column dataField="datE_OP" caption="Дата операции" dataType="date" format="dd.MM.yyyy" >   
  </dxi-column>
  <dxi-column dataField="datE_DOSTAV" caption="Дата прибытия" format="dd.MM.yyyy" dataType="date">   
  </dxi-column>
  <dxi-column dataField="naiM_STAN_OP" caption="Станция операции">   
  </dxi-column>
  <dxi-column dataField="railways" caption="Дорога">   
  </dxi-column>
  <dxi-column dataField="rassT_STAN_NAZN" caption="Расстояние" width="100">   
  </dxi-column>
  <dxi-column dataField="naiM_KOP_VMD" caption="Операция">   
  </dxi-column>
  <dxi-column dataField="noM_POEZD" caption="№ поезда">   
  </dxi-column>
  <dxi-column dataField="npP_VAG" caption="Вагон">   
  </dxi-column>
  <dxo-summary>
    <dxi-group-item column="noM_VAG" summaryType="count"> </dxi-group-item>
  </dxo-summary>

</dx-data-grid>
